@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-zinc-850: #1f1f23;
  --color-zinc-925: #131316;
}

body {
  @apply bg-zinc-925 text-zinc-100 antialiased;
  margin: 0;
}
